################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/pritvitest/x64/Debug
/x64/Debug
/pritvitest.sln
/pritvitest.vcxproj
/pritvitest.vcxproj.filters
/pritvitest.vcxproj.user
